!!!5
html
  head
      block title
        title #{handler.name}

    block meta
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="description", content="")
      meta(name="author",content="")

    block css-common
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css")

    block css-admin
      style
        body {
          padding-top: 70px;
          padding-bottom: 30px;
        }

        .admin-list tbody tr td { vertical-align: middle; }
        .admin-list thead .admin-control { width: 40px; }
        .admin-list thead .glyphicon { font-size: 10px; }

    block css-additional

  body

    block navbar
      nav.navbar.navbar-fixed-top.navbar-inverse
        .container-fluid

          block navbar-header
            .navbar-header
              a.navbar-brand(href="#{app.ps.admin.options.prefix}")
                =app.ps.admin.options.name

          block navbar-models
            ul.nav.navbar-nav
              for handler in app.ps.admin.handlers
                li(class="#{'active' if active.name.lower() == handler else ''}")
                  a(href="#{app.ps.admin.options.prefix}/#{handler}")
                    =handler.title()

          block navbar-additional
          

    .container-fluid
      block content

    block content-additional

    block js-common
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")

    block js-admin

    block js-additional
