!!!5
html
  head
      block title
        title #{handler.name}

    block meta
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="description", content="")
      meta(name="author",content="")

    block head_css
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css")
      link(rel="stylesheet", href="#{app.cfg.STATIC_PREFIX}/admin/app.css")

  body
    block navbar
      nav.navbar.navbar-fixed-top.navbar-inverse
        .container
          .navbar-header
            a.navbar-brand(href="#{app.ps.admin.options.prefix}")
              =app.ps.admin.options.name
          #navbar
            ul.nav.navbar-nav
              for handler in app.ps.admin.handlers
                li(class="#{'active' if active.name.lower() == handler else ''}")
                    a(href="#{app.ps.admin.options.prefix}/#{handler}")
                      =handler.title()

    .container
      block content

    block js
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
      script(src="#{app.cfg.STATIC_PREFIX}/admin/app.js")
