include admin/mixins.jade

- var base_url = app.ps.admin.options.prefix + '/' + active.name.lower()

.modal-header
  h4.modal-title Edit #{active.name} ##{active.resource.id}

.modal-body
  form.form(method="POST", action="#{base_url}?pk=#{active.resource.id}")
    for field in form
      if field.type == 'HiddenField'
        #{field}
      else
        if field.type == 'BooleanField'
          .form-group
            .checkbox: label
              #{field} #{field.label.text}
        else
          .form-group
            #{field.label(class_="control-label")}
            #{field(class_="form-control")}

.modal-footer
    button.btn.btn-success(type="submit") Save
    button.btn.btn-default(data-dismiss="modal") Cancel

