extends admin/base.jade

block title
  title #{active.name} -- list

block content

  include admin/mixins.jade

  - var base_url = app.ps.admin.options.prefix + '/' + active.name.lower()

  ul.nav.nav-tabs(role="tablist")
    li.active: a(href="#list") List
    if form
      li: a(href="#create", data-toggle="modal", data-target="#create") Create 

      #create.modal.fade: .modal-dialog: .modal-content
        .modal-header: h4 Create #{active.name}
        .modal-body
          form.form(method="POST", action="#{base_url}")
            for field in form
                +render_field(field, None)
        .modal-footer
            button.btn.btn-success.btn-create(type="submit") Create
            button.btn.btn-danger.btn-reset(href="#reset") Reset
            button.btn.btn-default(data-dismiss="modal") Cancel

  table.table.table-striped.admin-list

    // Columns
    thead: tr
      th(style="width:40px")
      for column in active.columns
        th
          =column.title()
      th(style="width:40px")

    tbody

      for item in list(active.collection)
        tr(id="item-#{item.id}", data-pk="#{item.id}")

          // Edit dialog
          td
              if form
                a.btn.btn-xs.btn-default(href="#{base_url}?pk=#{item.id}", data-toggle="modal", data-target="#edit-#{item.id}")
                  span.glyphicon.glyphicon-pencil(data-toggle="tooltip", title="edit")
                .modal.fade(id="edit-#{item.id}")
                  .modal-dialog
                    .modal-content

          for column in active.columns
            td #{active.render_value(item, column)}

          // Delete dialog
          td
            if active.delete
              .btn.btn-xs.btn-danger(data-toggle="modal", data-target="#delete-#{item.id}")
                  span.glyphicon.glyphicon-trash(data-toggle="tooltip", title="delete")
              .modal.fade(id="delete-#{item.id}")
                .modal-dialog
                  .modal-content
                    .modal-header: h4 Are you sure want to delete #{active.name} ##{item.id}?
                    .modal-body
                      for column in active.columns
                        b #{active.render_value(item, column)} &nbsp;
                    .modal-footer
                      button.btn.btn-danger.btn-delete Delete
                      button.btn.btn-default(data-dismiss="modal") Cancel


block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.2/handlebars.min.js")
  script(src="#{app.cfg.STATIC_PREFIX}/admin/app.js")
  script.
    var base_url = '#{base_url}';
