mixin render_field(field, value)
  if field.type == 'HiddenField'
    #{field}
  else
    if field.type == 'BooleanField'
      .form-group
        .checkbox: label
          #{field(value=value)} #{field.label.text}
    else
      .form-group
        #{field.label(class_="control-label")}
        #{field(class_="form-control")}
